[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
pip = "==18.0"
aiohttp = "*"
prometheus-async = "*"
yacm = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "==19.3b0"
pytest-asyncio = "*"
pytest-aiohttp = "*"
aiohttp-devtools = "*"
mypy = "*"
pylint = "*"
sphinx = "*"
bump2version = "*"
