[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
cookiecutter = "*"

[dev-packages]
black = "==19.3b0"
pytest = "*"
pytest-cov = "*"
create-python-app = "*"
pyyaml = "*"
pytest-cookies = "*"
sphinx = ">=2.2.0,<3"
recommonmark = ">=0.6.0,<0.7"
cpa = "==0.4.0"
